.sidebar {
    height: 90vh;
    background-color: #BFCCB5;
    overflow: auto;
    transition: 0.3s;
    border-right: solid 10px #7C96AB ;
}

.icons {
    padding: 10px;
    margin-top: 10px;
}

.copyright {
    position: absolute;
    bottom: 15px;
    left: 13px;
    color: #888;
}