.nav {
    top: 0;
    background-color: #BFCCB5;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    height: 10vh;
}

.logo {
    margin-left: 50px;
}

.end {
    display: inline-flex;
}

.button {
    border: 1px solid black;
    margin-left: 10px;
}
