@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #886cc9;
}

.button {
  padding: 10px;
  cursor: pointer;
  background-color: #200087;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  position: relative;
}

div.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
