@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

div.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10% 90%;

}

div.navbar {
  grid-column: 1 / span 2;
  grid-row:  1 / span 2;
  border: 1px solid black;
}


