@tailwind base;
@tailwind components;
@tailwind utilities;

div.main-container {
  display: grid;
  height: 93vh;
  grid-template-columns: 1fr 4fr;
  background-color: #faf9f8;
}

.button {
  padding: 10px;
  cursor: pointer;
  background-color: #7c96ab;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
}

div.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
