.card {
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 0 10px 10px 10px;
  width: calc(50% - 20px);
  display: inline-block;
  box-sizing: border-box;
}

.h3 {
  border-bottom: 1px solid lightgray;
  font-weight: bolder;
  margin: 0 10px;
}

.chore {
  border-bottom: 1px solid lightgray;
  margin: 0 10px;
}

.h5 {
  font-weight: bold;
  display: inline;
}

.date {
  border-bottom: 1px solid lightgray;
  margin: 0 10px;
}
.due {
  display: inline;
  margin: 0 10px;
}
.users {
  border-bottom: 1px solid lightgray;
  margin: 0 10px;
}

.pictures {
  display: inline;
  margin: 0 10px;
  border-radius: 50px;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin: 1px 10px;
}
.delete {
  padding: 10px;
  cursor: pointer;
  background-color: #fd0909;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
  font-size: 12px;
  margin-left: 2px;
}
.delete:hover {
  background-color: rgb(136, 4, 4);
}
.markDone {
  padding: 10px;
  cursor: pointer;
  background-color: #7c96ab;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
  font-size: 12px;
}

.markDone:hover {
  background-color: green;
}

.completed {
  background-color: green;
  color: white;
  border: 1px solid green;
  border-radius: 10px;
  line-height: 30px;
  font-size: 12px;
  padding: 3px;
}

.danger {
  background-color: rgba(255, 13, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.warning {
  background-color: rgba(255, 219, 88, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.primary {
  background-color: rgba(241, 239, 239, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
