.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input {
  border: 1px solid black;
  margin: 5px;
}

.button {
  padding: 5px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
}

.title {
  font-size: 2em;
}

.edit {
  margin: 2vmin 0;
}
.subtitle {
  font-size: 1.3em;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
